<div class="container-fluid" id="aboutus">
    <div class="container">
        <div class="row aboutus">
            <h1 class="mt-5 text-white text-center"><span>About Us</span></h1>
            <div class="col-md-4 text-center">
                <img src="../../../assets/image/inter-removebg-preview.png" alt="" class="aboutImg"><br><br>
                <h4>SOCIAL  INTEGRATION</h4><br>
                <p class="text-white">We are committed towards helping communities work in collaboration through our platform</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="../../../assets/image/pov-removebg-preview.png" alt="" class="aboutImg"><br><br>
                <h4>POVERTY ERADICATION</h4><br>
                <p class="text-white">Our aim is to eradicate poverty among young Africans by availing learning opportunities for our youth.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="../../../assets/image/employment-removebg-preview.png" alt="" class="aboutImg"><br><br>
                <h4>EMPLOYMENT GENERATION</h4><br>
                <p class="text-white">Our approach is geared towards helping people easily find job in collaboration through our platform</p>
            </div>
        </div>
    </div>
</div>

