#aboutus{
    background-color: #05885E;
    padding: 50px;
}
.aboutImg{
    height: 230px;
    justify-content: center;
}

h1 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #ffffff; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 

h1 span { 
    background:#05885E; 
    padding:0 10px; 
}