#donation{
    background-color: #057088;
    padding-top: 30px;
    padding-bottom: 50px;
}
.intro{
    display: flex;
}

button{
    padding: 20px;
    background-color: #881D05;
    color: #ffffff;
    border-radius: 5px;
}

.info{
    display: grid;
    }

.donationImage{
    height: 190px;
}

h1 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #ffffff; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 

h1 span { 
    background:#057088; 
    /* padding:0 10px;  */
}