<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GenerationGift</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/aboutus">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" routerLink="/job">Jobs</a>
                        <a class="dropdown-item" href="#" routerLink="/training">Trainings</a>
                        <a class="dropdown-item" href="# "routerLink="/donation">Donations</a>
                        <a class="dropdown-item" href="#" routerLink="/pitch">Project Pitch</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/registration">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
