<app-navbar></app-navbar>
<div id="job">
    <div class="container-fluid">
        <div>
            <h1 class="mt-5 text-white text-center"><span>Employment</span></h1>
        </div>
        <div class="intro container mt-5">
            <div class="col-md-1"></div>
            <div class="col-md-8 infoCard text-center">
                <p>“Keep away from people who try to belittle your ambitions. Small people always do that, but the really great ones make you feel that you too can become great.” <br> – Mark Twain <br>Post a Job, Improve a Life.</p>            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#jobModal">
                    Job opportunity
                </button>
            </div>
            <div class="col-md-1"></div>
            
        </div><br><br>
            <!-- Modal -->
            <!-- Modal -->
        <div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="jobModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="jobFormControlInput1" class="form-label fs-4">Job Title</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedJob.job_title" id="jobFormControlInput1"
                            placeholder="title">
                        </div>
                        <div class="mb-3">
                            <label for="jobFormControlTextarea1" class="form-label fs-4">Description</label>
                            <textarea class="form-control" [(ngModel)]="selectedJob.description" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="jobFormControlInput1" class="form-label fs-4">Category</label>
                                <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectedJob.category">
                                    <option selected>Choose...</option>
                                    <option value="Blue Collar Job">Blue Collar Job</option>
                                    <option value="White Collar Job">White Collar Job</option>
                                </select>
                                </div>
                            <!-- <input type="text" class="form-control" [(ngModel)]="selectedJob.category" placeholder="category"> -->
                        </div>
                        <div class="mb-3">
                            <label for="jobFormControlInput1" class="form-label fs-4">Location</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedJob.location" placeholder="job location">
                        </div>
                        <div class="mb-3">
                            <label for="jobFormControlInput1" class="form-label fs-4">Salary </label>
                            <input type="number" class="form-control" [(ngModel)]="selectedJob.approximate_salary" placeholder="Ksh">
                        </div>
                        <div class="mb-3">
                            <label for="jobFormControlInput1" class="form-label fs-4">Date</label>
                            <input type="date" class="form-control" [(ngModel)]="selectedJob.date_posted" placeholder="Due date">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" *ngIf="selectedJob.id == -1" (click)="newJob()"> Add Job </button>
                        <button type="button" class="btn btn-primary" *ngIf="selectedJob.id != -1" (click)="putJob()"> Edit </button>
                        <button type="button" class="btn btn-primary" *ngIf="selectedJob.id != -1" (click)="deleteJob()"> DELETE </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
        <div class="container-fluid">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-md-4 info mt-2" *ngFor="let job of jobs">
                    <div class="card bg-white">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <h3 (click)="jobClicked(job)" class="text-center">{{job.job_title}}</h3>
                                    <p>{{job.description}}</p>
                                    <P><strong>Category: </strong> {{job.category}}</P>
                                    <P><strong>Location: </strong> {{job.location}}</P>
                                    <p><strong>Approximate_salary:</strong> {{job.approximate_salary}}</p>
                                    <p><strong>Date_posted:</strong> {{job.date_posted}}</p>
                                    <P><strong>Deadline:</strong> {{job.deadline}}</P>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



<!-- <p>employment works!</p>
<div>
    <ul>
        <li *ngFor="let job of jobs">
            <p>Id: {{job.id}}</p>
            <p (click)="jobClicked(job)">job_title: {{job.job_title}}</p>
            <p>Description: {{job.description}}</p>
            <p>date_posted: {{job.date_posted}}</p>
            <P>Category: {{job.category}}</P>
            <P>location: {{job.location}}</P>
            <p>approximate_salary: {{job.approximate_salary}}</p>
            <P>deadline: {{job.deadline}}</P>
            <P>user: {{job.user}}</P>
        </li>
    </ul>
</div>
<hr>


job_title: <input type="text" [(ngModel)]="selectedJob.job_title"/><br>
Description: <input type="text" [(ngModel)]="selectedJob.description"/><br>
location: <input type="text" [(ngModel)]="selectedJob.location"/><br>
Category: <input type="text" [(ngModel)]="selectedJob.category"/><br>
date_posted: <input type="date" [(ngModel)]="selectedJob.date_posted"/><br>
<button *ngIf="selectedJob.id != -1" (click)="putJob()"> PUT </button>
<button *ngIf="selectedJob.id == -1" (click)="newJob()"> POST </button>
<button *ngIf="selectedJob.id != -1" (click)="deleteJob()"> DELETE </button>
-->
