<div id="login">
    <div class="container-fluid" >
        <div class="row" id="login" style="background-image: url(../../../assets/image/kids_11zon.jpeg); align-items: center;" >
            <div class="col-md-3"></div>
            <div class="col-md-6" id="user">
                <div class="title">
                    <h3>Login</h3>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="mb-3">
                            <input [(ngModel)]="login.username" class="form-control"[ngModelOptions]="{standalone: true}" placeholder="Enter your username">
                            <span *ngFor="let error of _userService.errors.username"><br />{{ error }}</span>
                        </div>
                        <div class="mb-3">
                            <input [(ngModel)]="login.password" type='password'   class="form-control" placeholder="Enter your password" [ngModelOptions]="{standalone: true}">
                            <span *ngFor="let error of _userService.errors.password"><br />{{ error }}</span>
                        </div>
                        <div class="mb-3">
                            <button (click) ="loginUser()" class="btn btn-primary">Login</button>
                        </div>
                        <div class="mb-3">
                            <div class="col-sm-12">
                                <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    
</div>