<div class="bg">
    
    <div class="hero">
        <!-- <div class="hero-image"></div> -->
        <div class="hero-content">
            <h1>We Believe Everybody should be above the <strong>International Poverty line.</strong></h1>
            <h1>We help Eradicate Poverty through interconnectedness. End Poverty.</h1>
            <div class="cta">
                <form class="d-flex">
                    <input class="form-control me-2 search text-center" type="search" placeholder="Available opportunities" aria-label="Search">
                    <button class="secondary-btn">Search</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>
<app-aboutus></app-aboutus>
<app-training></app-training>
<app-project-pitch></app-project-pitch>
<app-donation></app-donation>
<app-employment></app-employment>
<app-footer></app-footer>
