<div class="bg">
    
    <div class="hero">
        <!-- <div class="hero-image"></div> -->
        <div class="hero-content">
            <h1>We Believe Everybody should be above the <strong>International Poverty line.</strong></h1>
            <h1>We help Eradicate Poverty through interconnectedness. End Poverty.</h1>
            <div class="cta">
                <button class="primary-btn">Available Opportunities</button>
                <button class="secondary-btn">Search</button>
            </div>
        </div>
    </div>
</div>
