<div id="reg">
    <div class="signup-form">
        <form action="actions" method="post">
            <h2>Register</h2>
            <div class="form-group">
                <div class="col"><input type="text" class="form-control" [(ngModel)]="register.username" name="user_name" placeholder="Username" required="required"></div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" [(ngModel)]="register.email" name="email" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="register.password" name="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
                <input type="submit" class="btn  btn-primary login-btn btn-sm mt-3" (click)="registerUser()" value="Create account">
            </div>
        </form>
        <div class="text-center text-dark">Already Registered? <a href="#" routerLink="login" >Login</a></div>
    </div>
</div>
