#pitch{
    background-color: #057088;
    padding-top: 50px;
    padding-bottom: 50px;
}
.intro{
    display: flex;
}

button{
    padding: 20px;
    background-color: #881D05;
    color: #ffffff;
    border-radius: 5px;
}