<div id="training">
    <div class="container-fluid">
        <h1 class="text-center text-white"> Trainings </h1>
        <div class="intro container">
            <div class="col-md-1"></div>
            <div class="col-md-8 card text-center infoCard">
                <p>“Our deepest fear is not that we are inadequate, it is that we are powerful beyond measure.” <br> — Marianne Williamson <br>Offer/Get Trainings/Workshops geared towards personal Development skills</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <!-- Button trigger modal -->

                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#trainingModal">
                    Add Training
                </button>
            </div>
            <div class="col-md-1"></div>
            
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="trainingModal" tabindex="-1" aria-labelledby="trainingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center" id="trainingModalLabel"> Add Trainings</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="trainingFormControlInput1" class="form-label fs-4">Poster</label>
                            <input type="file" [(ngModel)]="selectedTraining.poster" class="form-control" id="trainingFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="trainingFormControlInput1" class="form-label fs-4">Title</label>
                            <input type="text" [(ngModel)]="selectedTraining.title" class="form-control" id="trainingFormControlInput1"
                                placeholder="Title">
                        </div>
                        <div class="mb-3">
                            <label for="trainingFormControlInput1" class="form-label fs-4">Description</label>
                            <textarea class="form-control" [(ngModel)]="selectedTraining.description" placeholder="description" id="trainingFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="trainingFormControlInput1" class="form-label fs-4">Location</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedTraining.venue" id="trainingFormControlInput1"
                                placeholder="Location">
                        </div>
                        <div class="mb-3">
                            <label for="jobFormControlInput1" class="form-label fs-4">Category</label>
                                <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectedTraining.category">
                                    <option selected>Choose...</option>
                                    <option value="IT">IT</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Life Skills">Life Skills</option>
                                    <option value="Technical Skills">Technical Skills</option>
                                    <option value="Digital Literacy">Digital Literacy</option>
                                </select>
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for="trainingFormControlInput1" class="form-label fs-4">Category</label>
                            <div class="input-group mb-3" >
                                <label class="input-group-text"  for="inputTrainingGroupSelect01">Options</label>
                                <select class="form-select" [(ngModel)]="selectedTraining.category" id="inputTrainingGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="IT">IT</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Life Skills">Life Skills</option>
                                    <option value="Technical Skills">Technical Skills</option>
                                    <option value="Digital Literacy">Digital Literacy</option>
                                </select>
                            </div>
                            <!-- <input type="text" class="form-control" [(ngModel)]="selectedTraining.category" id="trainingFormControlInput1"
                                placeholder="Category"> -->
                        </div>
                        <div class="mb-3">
                            <label for="trainingFormControlInput1" class="form-label fs-4">Training Date</label>
                            <input type="date" class="form-control" [(ngModel)]="selectedTraining.eventdate" id="trainingFormControlInput1"
                                placeholder="Training Date">
                        </div>
                        <div class="mb-3">
                            <label for="trainingFormControlInput1" class="form-label fs-4">Time</label>
                            <input type="time" class="form-control" [(ngModel)]="selectedTraining.eventtime" id="trainingFormControlInput1" placeholder="Time">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" *ngIf="selectedTraining.id == -1" (click)="newTraining()"> POST </button>
                        <button type="button" class="btn btn-primary" *ngIf="selectedTraining.id != -1" (click)="deleteTraining()"> DELETE </button>
                        <button type="button" class="btn btn-primary" *ngIf="selectedTraining.id != -1" (click)="putTraining()"> PUT </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid">
        <div class="row" style="display: flex; justify-content: center;">
            <div class="col-md-4 info mt-3" *ngFor="let training of trainings">
                <div class="card bg-white">
                    <div class="card-body">
                        <ul>
                            <li>
                                <img src="{{image_url+training.poster}}" alt="image" class="trainingImage">
                                <h3 (click)="trainingClicked(training)" class="mt-4">{{training.title}}</h3>
                                <p>{{training.description}}</p>
                                <p><strong>Venue: </strong> {{training.venue}}</p>
                                <P><strong>Category: </strong>{{training.category}}</P>
                                <P><strong>Event date: </strong>{{training.eventdate}}</P>
                                <p><strong>Event time: </strong>{{training.eventtime}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>




<!-- <p>training works!</p>

<div>
    <ul>
        <li *ngFor="let training of trainings">
            <p>Id: {{training.id}}</p>
            Poster: <img src="{{image_url+training.poster}}" alt="image">
            <p (click)="trainingClicked(training)">Title: {{training.title}}</p>
            <p>Description: {{training.description}}</p>
            <p>Venue: {{training.venue}}</p>
            <P>Category: {{training.category}}</P>
            <P>Event date: {{training.eventdate}}</P>
        </li>
    </ul>
</div>
<hr>
Poster: <input type="file" [(ngModel)]="selectedTraining.poster"/><br>
Title: <input type="text" [(ngModel)]="selectedTraining.title"/><br>
Description: <input type="text" [(ngModel)]="selectedTraining.description"/><br>
Venue: <input type="text" [(ngModel)]="selectedTraining.venue"/><br>
Category: <input type="text" [(ngModel)]="selectedTraining.category"/><br>
Event date: <input type="date" [(ngModel)]="selectedTraining.eventdate"/><br>
Event time: <input type="time" [(ngModel)]="selectedTraining.eventtime"/><br>
<button *ngIf="selectedTraining.id != -1" (click)="putTraining()"> PUT </button>
<button *ngIf="selectedTraining.id == -1" (click)="newTraining()"> POST </button>
<button *ngIf="selectedTraining.id != -1" (click)="deleteTraining()"> DELETE </button>
-->
